/*CSS GENERAL DE LOS HTML DE LA INTERNET, EXTRANET E INTRANET (PRINCIPALMENTE EL MURO PRINCIPAL)*/

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    background-color: #89D99D;
    align-items: center;
    padding: 10px 15%;
}

a {
    text-decoration: none;
    color: black;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: blueviolet;
}

main {
    border-top: solid 1px;
    margin: 0;
    width: 85%;
    min-height: 70vh;
    background-color: white;
    padding: 15px 10%;
    padding-bottom: 30px;
    text-align: center;
    font-size: 20px;
}

aside {
    width: 15%;
    background: linear-gradient(
          180deg,
          #89D99D,
          #f2d335
        ); /* Establece un fondo utilizando un degradado lineal */
    padding: 15px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
aside nav{
    position: fixed;
}

aside nav a {
    font-size: 120%;/* Aumenta el tamaño de la fuente al 120% */
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    margin-bottom: 20px; /* Añade un margen inferior entre enlaces */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
aside nav a:hover {
    background-color: #BBE2F2;
    color: #012E40;
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}
aside nav a:active {
    transform: scale(0.95); /* Reduce ligeramente el tamaño al hacer clic */
    background-color: #012E40;
    color: #BBE2F2;
}
footer {
    background-color: #313A40;
    color: #fff;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15%;
}

footer a {
    color: #fff;
}

/*CLASES PARTICULARES (PUEDEN VARIAR POR CADA HTML)*/

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 10px;
}

.contenido {
    display: flex;
}

.centro {
    display: flex;
}

.logoAside {
    height: 1%;
    margin-right: 5px;
}

.buscadorBoton {
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#inputBuscar::placeholder {
    text-align: center;
    padding-top: 30px;
}
