/*estilos generales*/
body{/*elemento body del HTML*/
    font-family: Arial, sans-serif;/*fuente del texto*/
    background: linear-gradient(135deg, #13678A, #F2AE30);/*color de fondo*/
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;/*previene el desbordamiento horizontal*/
}
/*contenedor principal*/
.contenedor{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.marca{
    color: #f8effc;
    font-size: 2.5em;
    font-weight: bold;
}
.bienvenido{
    color: #1F1717;
    font-size: 1.7em;
}
/*estilo formulario*/
form{
    padding: 40px;/*relleno dentro del formulario*/
    border: 1px solid #A3BFB5;/*añade borde*/
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: rgba(180,185,220, 0.2);
    max-width: 400px;
    width: 100%;
}
/*contenedor de entrada*/
.contenedor-entrada{
    display: flex;
    flex-direction: column;
    color: #000;
    margin-bottom: 15px;
    font-size: 1.1em;
}
.contenedor-entrada label{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.1em;
}
.contenedor-entrada input{
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.3em;
    color: #333;
}

/*estilo de los botones*/
button.boton, a.boton{
    display: inline-block;
    padding: 15px 30px;
    background-color: #03A64A;
    color: white;/*color del texto*/
    border: none;/*elimina el borde alrededor*/
    cursor: pointer;/*cambia el cursor a una mano apuntando*/
    text-decoration: none;
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    transition: background-color 0,3s, transform 0.3s;/*agregar una transicion suave*/
}
button.boton:hover, a.boton:hover{/* estado del boton cuando el raton pasa por el*/
    background-color: #025940;/*cambia el color del boton */
}
/*estilo cuando el boton este presionado*/
button.boton:active, a.boton:active{
    transform: translateY(2px);/*ajusta el boton hacia abajo*/
}
/*contenedor de botones*/
.button-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*navegacion y botones alineados*/
.nav-contenedor{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}
.nav-boton{
    padding: 10px 20px;
    background-color: #03A64A;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.1em;
}
.nav-boton.izquierda{
    margin-right: auto;
}
.nav-boton.derecha{
    margin-left: auto;
}
.nav-boton:hover{
    background-color: #025940;
}
/*footer como pie de pagina*/
footer{
    padding: 20px;
    background-color: #13668ad1;
    color: rgb(242, 239, 239);
    text-align: center;
    width: 100%;
}
footer nav ul{
   list-style: none;
   padding: 0;
}
footer nav ul li{
    display: inline;
    margin: 0 10px;
}
footer nav ul li a{
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    border-radius: 4px;
}
footer nav ul li a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
