.novedades{
    border-radius: 10px; /*borde redondeado*/
    margin: 50px;
    background-color: rgb(187, 226, 242);
}

.titulo{
    background-color: white; /*color del fondo*/
    border-radius: 10px; /*borde redondeado*/
}

.lista{
    background-color: white; /*color del fondo*/
    border-radius: 10px; /*borde redondeado*/
    padding: 15px; /*rellena todos los bordes*/
    height: 300px;
}

.novedades-anteriores{
    background-color: white; /*color del fondo*/
    border-radius: 10px; /*borde redondeado*/
    width: 300px; /*anchura*/
    padding: 15px; /*rellena todos los bordes*/
}

.lista p{
  font-size: 25px;
}

.fecha{
  font-size: 20px;
}
